#UNIT, INSTALL, AND SERVICE MAIN
[Unit]
Requires=multi-user.target
After=multi-user.target
[Service]
Type=oneshot
TimeoutStartSec=600
RemainAfterExit=true
#MAIN LOGIC
#ExecStartPre=/bin/bash -c ""
ExecStartPre=/bin/bash -c "if [ -f /$LTC ];then bash /$LTC;fi"
ExecStartPre=/bin/bash -c "if [ -f /$LTI ];then bash /$LTI;fi"
ExecStartPre=/bin/bash -c "if [ -f /$LTA ];then bash /$LTA;fi"
#MAIN EXIT
ExecStart=/bin/bash -c "exit 0"
[Install]
WantedBy=multi-user.target
