[Unit]
Description=rc.local replacement 20250206
After=multi-user.target
[Service]
Type=oneshot
TimeoutStartSec=300
RemainAfterExit=true
ExecStart=/bin/bash -c "cd ~;if dig +short https://raw.githubusercontent.com;then curl 'https://raw.githubusercontent.com/j1nh0/linx/main/buildme.sh'|bash -s -- commons;fi;exit 0"
[Install]
WantedBy=multi-user.target
