#UNIT, INSTALL, AND SERVICE MAIN
[Unit]
After=multi-user.target
[Install]
WantedBy=multi-user.target
[Service]
Type=oneshot
TimeoutStartSec=600
RemainAfterExit=true
#MAIN LOGIC
ExecStartPre=/bin/bash -c ""
#MAIN EXIT
ExecStart=/bin/bash -c "exit 0"
