#SERVICE
[Unit]
Requires=default.target
After=default.target
[Service]
Type=oneshot
TimeoutStartSec=600
RemainAfterExit=true
ExecStartPre=/bin/bash -c "cd;if [ -f $HOME/.linx/rcl-init/rcl-init.sh ];then /bin/bash $HOME/.linx/rcl-init/rcl-init.sh;else echo '$HOME/.linx/rcl-init/rcl-init.sh not found!'>>$HOME/.linx/rcl-init/rcl-init.log;fi"
ExecStart=/bin/bash -c "exit 0"
[Install]
WantedBy=default.target
